div img{
    display:inline-block;
    width: 400px;
    margin: 10px;
    padding:40px;
    border: black 10px solid;
    background-color: #82b4ee;
}

 div{
     margin-left: 70px;
 }

header img{
    display:inline-block;
    width: 400px;
    margin: 5px;
    padding:10px;

}

header img:first-child{
    margin-left: 200px;
}

header img:last-child{
    background-color: white;
    width: 330px;
}

h1{
    display: inline-block;
    font-size: 100px;
}

body{
    background-color: #c5c2a1;
}

img:nth-child(even){
    background-color:#f36870;
}