img{
    display:inline-block;
    width: 400px;
    margin: 9px;
    padding:10px;
    border-color: black;
    border-style: solid black;
}

header img{
    display:inline-block;
    width: 400px;
    margin: 5px;
    padding:10px;

}

header img:first-child{
    margin-left: 200px;
}

header img:last-child{
    background-color: white;
    width: 330px;
}

h1{
    display: inline-block;
    font-size: 100px;
}

body{
    background-color: #c5c2a1;
}